
            .thumbnail{
                width: 100%;
            }

         


            .video-info-grid{
                display: grid;
                grid-template-columns: 50px 1fr;

            }

            .channel-picture{
                display: inline-block;
                width: 50px;
                
            }
            .video-info{
                display: inline-block;
                width: 200px;
                vertical-align: top;
                
            }
            .profile{
                width: 40px;
                vertical-align: top;
                border-radius: 50px;
                
            }

            .video-title{
                margin-top: 0;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: 12px;
            }

            .thumbnail-row{
                margin-bottom: 12px;
            }

            .video-author,.video-stats{
                font-size: 12px;
                color: rgb(96, 96, 96);
            }

            .video-author{
                margin-bottom: 4px;
            }



            .profile-2,.video-info-2{
                display: inline-block;
            }

            .profile-2{
                width: 40px;
                vertical-align: top;
                border-radius: 50px;
            }

            .profile-2{
                margin-top: 5px;
                margin-right: 10px;
            }

            .video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
            }