.subscribe-button {
                background-color: rgb(200, 0, 0);
                color: white; /*color of the Button name*/
                border: none; /*Border of our Button*/
                height: 36px; /*Height of the button*/
                width: 105px;/*Width of the Button*/
                border-radius: 3px; /*Controlling the sharpnes of the Button corners more pixels more smoothness*/
                cursor: pointer; /*Changing how the cursor looks when passed over the button*/
                margin-right: 8px;
                transition: opacity 0.15s;
            }

            .subscribe-button:hover{
                opacity: 0.75;
            }

            .subscribe-button:active{
                opacity: 0.5;
            }

            .join-button {
                background-color: white;
                border-color: rgb(41, 118, 211);
                border-style: solid;
                border-width: 1px;
                color: rgb(41, 118, 211);
                height: 36px;
                width: 62px;
                border-radius: 3px;
                cursor: pointer;
                transition: opacity 1s;
                transition: background-color 1s,color 1s;

            }

            .join-button:hover{
                background-color:rgb(41, 118, 211);
                color: white;
                opacity: 0.7;
            }

        .join-button:active{
            opacity: 0.5;
        }

            .tweet-button {
                background-color:rgb(2,158,255);
                color: white;
                border: none;
                height: 36px;
                width: 65px;
                border-radius: 18px;
                font-weight: bold;
                font-size: 15px;
                cursor: pointer;
                margin-left: 8px;
                transition:  box-shadow 1s;
            }

            .tweet-button:hover{
                box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
            }